@{
    ViewBag.TitleUser = "Sửa thông tin cá nhân";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
}

@section Style
{
    <style type="text/css" id="enject">
        #login {
            width: 280px;
        }

        #title {
            text-align: center;
            color: #FFFFFF;
        }
    </style>
}

<div>
    @*<ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Đăng ký</li>
    </ul>*@
    <h3> Sửa thông tin cá nhân</h3>
    <div class="well">
        <form class="form-horizontal" action="/TrangCaNhan/Thuchiensuathongtin?manguoidung=@Session["manguoidung"]" method="post" enctype="multipart/form-data">
            
            <div class="control-group">
                <label class="control-label" for="inputFname1">Họ và tên:</label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="hovaten" value="@Session["hovaten"]" placeholder="Họ và tên">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Email: <sup>*</sup>:</label>
                <div class="controls">
                    <input type="email" id="inputFname1" name="email" value="@Session["email"]" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Địa chỉ: <sup>*</sup>:</label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="diachi" value="@Session["diachi"]" placeholder="Địa chỉ">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Ngày sinh: </label>
                <div class="controls">
                    <input type="date" id="inputFname1" name="ngaysinh" value="@Convert.ToDateTime(Session["ngaysinh"]).Date" placeholder="Ngày sinh">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputFname1">Số điện thoại: </label>
                <div class="controls">
                    <input type="text" id="inputFname1" name="sodienthoai" value="@Session["sodienthoai"]" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="aditionalInfo">Mô tả ngắn: </label>
                <div class="controls">
                    <textarea name="motangan" id="aditionalInfo" cols="26" rows="3" placeholder="Mô tả ngắn">@Session["motangan"]</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="aditionalInfo">Giới tính: </label>
                <div class="controls">
                    <input type="radio" id="gioitinh1" name="gioitinh" value="B"
                           @if (Session["gioitinh"].ToString() == "B") { @: checked="checked"
                                                                                       } />Nam
                        <input type="radio" id="gioitinh2" name="gioitinh" value="G"
                               @if (Session["gioitinh"].ToString() == "G") { @: checked="checked"
                                                           } />Nữ
                </div>
            </div>
            <!--<div class="control-group">
                <label class="control-label" for="inputFname1">Giới tính: </label>
                <div class="controls">
                    <table width="200" border="0">
                        <tbody>
                            <tr>
                                <td><label style="text-align:center">Nam</label></td>
                                <td><input type="checkbox" name="nam" value="nam" checked="checked"></td>
                                <td><label style="text-align:center">Nữ </label></td>
                                <td><input type="checkbox" name="nu" value="nu"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->
            <div class="control-group">
                <label class="control-label" for="inputFname1">Ảnh đại diện</label>
                <div class="controls">
                    <input type="file" name="anhdaidien" value="@Session["anhdaidien"].ToString()">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <!--<input type="hidden" name="email_create" value="1">
                    <input type="hidden" name="is_new_customer" value="1">-->
                    <input class="btn btn-large btn-success" type="submit" value="Sửa">
                </div>
            </div>
        </form>
    </div>

</div>
