

@{
    ViewBag.TitleUser = "Trang cá nhân";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    
}


@section Style
{
<style type="text/css" id="enject">
    #sachmoi {
        height: 400px;
        width: 300px;
    }

    #side {
        height: 200px;
    }

    #title {
        text-align: center;
        color: #FFFFFF;
    }
</style>
}
    <div>
        <ul class="breadcrumb">
            <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
            <li>Thông tin tài khoản<span class="divider">/</span></li>
            <li class="active">Trang cá nhân</li>
        </ul>
        <div class="row">
            <div id="gallery" class="span3">
                <img src="~/Content/UserImg/@Session["anhdaidien"]" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />

                <div id="differentview" class="moreOptopm carousel slide">
                </div>
            </div>
            <div class="span6">
                <h3>@Session["hovaten"]</h3>
                <h4>@Session["tendangnhap"]</h4>

                <form class="form-horizontal qtyFrm"></form>
                <hr class="soft clr" />
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="home">
                        <h4>Thông Người dùng</h4>
                        <table class="table table-bordered">
                            <tbody>
                                <tr class="techSpecRow"><th colspan="2">Thông tin chi tiết</th></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Mã người dùng </td><td class="techSpecTD2">@Session["manguoidung"]</tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Họ và tên</td><td class="techSpecTD2">@Session["hovaten"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Địa chỉ</td><td class="techSpecTD2">@Session["diachi"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Email</td><td class="techSpecTD2">@Session["email"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Ngày sinh</td><td class="techSpecTD2">@Session["ngaysinh"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Số điện thoại</td><td class="techSpecTD2">@Session["sodienthoai"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Giới tính</td><td class="techSpecTD2">@Session["gioitinh"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Mô tả ngắn</td><td class="techSpecTD2">@Session["motangan"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Số tiền tài khoản</td><td class="techSpecTD2">@Session["sotientaikhoan"]</td></tr>
                                <tr class="techSpecRow"><td class="techSpecTD1">Loại người dùng</td><td class="techSpecTD2">@Session["loainguoidung"]</td></tr>

                            </tbody>
                        </table>

                    </div>
                </div>
                <form action="~/TrangCaNhan/Xemkiemtramatkhau">
                    <button type="submit" class="btn btn-info btn-fill pull-right">Đổi mật khẩu</button>
                </form>
                <br class="clr" />
                <form action="~/TrangCaNhan/Formsuathongtin">
                    <button type="submit" class="btn btn-info btn-fill pull-right">Sửa thông tin cá nhân</button>
                </form>
                <br class="clr" />
                <form action="~/QuanLyNapTien/Xem?manguoidung=@Session["manguoidung"]">
                    <button type="submit" class="btn btn-info btn-fill pull-right">Lược sử nạp tiền</button>
                </form>
                <br class="clr" />
                <hr class="soft" />
            </div>

            <div class="span9">

            </div>

        </div>
    </div>
