@using LibraryManagement.Models;

@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    ViewBag.TitleUser = "Chi tiết sách";
    DauSach chitiet = ViewBag.chitietsach;
}

@section Style
{
    <style type="text/css" id="enject">
    #btdoc {
        text-align: center;
    }

    #side {
        height: 200px;
    }

    #title {
        text-align: center;
        color: #FFFFFF;
    }
</style>

}

<div>
   <!--<ul class="breadcrumb">
        <li><a href="~/TrangChu/Xem">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Chi tiết sách</li>
    </ul>-->
    <div class="row">
        <div id="gallery" class="span3">
                <img src="~/Content/BookImg/@chitiet.bia" style="width:100%" alt="Fujifilm FinePix S2950 Digital Camera" />
            <div id="differentview" class="moreOptopm carousel slide">
            </div>
        </div>
        <div class="span6">
            <h3>@chitiet.tensach </h3>
            <h4>@chitiet.TacGia.tentacgia</h4>
            <hr class="soft" />
            @if (Session["quyen"].ToString() != "guest")
            {
            <table width="460" border="0">
                <tbody>
                   <tr>
                        <td><a href="/DocOnline/Doconline?masach=@chitiet.madausach&sotientk=@if(Session["quyen"].ToString() == "user")
                            {
                                @Session["sotientaikhoan"]
                            }else
                            {
                                @:0
                            }
                        &manguoidung=@Session["manguoidung"]"><label class="control-label">
                            <button id="btdoc" type="submit" class="btn btn-large btn-primary pull-right"> Đọc Online </button></label>
                            </a></td>
                        <td><a href="#"><label class="control-label">
                            <button id="btdoc" type="submit" class="btn btn-large btn-primary pull-right"> Download </button></label>
                            </a></td>
                        <td><a href="~/GioSach/Themsachvaogio?masach=@chitiet.madausach&urlnext=@Request.RawUrl"><label class="control-label">
                            <button id="btdoc" type="submit" class="btn btn-large btn-primary pull-right"> Thêm vào giỏ </button></label>
                            </a></td>
                    </tr>
                </tbody>
            </table>
            }

           
            <hr class="soft" />
            <h4>Còn @chitiet.soluong cuốn trong kho</h4>
            <hr class="soft clr" />
            <h4>Tóm tắt</h4>
            <p>
                @chitiet.tomtat
            </p>
            <br class="clr" />
            <a href="#" name="detail"></a>
            <hr class="soft" />
        </div>

        <div class="span9">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <h4>Thông tin sách</h4>
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="techSpecRow"><th colspan="2">Thông tin chi tiết</th></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Mã sách </td><td class="techSpecTD2">@chitiet.madausach</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Tên sách</td><td class="techSpecTD2">@chitiet.tensach</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Tác giả</td><td class="techSpecTD2"> @chitiet.TacGia.tentacgia</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Nhà xuất bản:</td><td class="techSpecTD2">@chitiet.NhaXuatBan.tennhaxuatban</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Ngày đăng</td><td class="techSpecTD2">@chitiet.ngaydang</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Thể loại</td><td class="techSpecTD2">@chitiet.ChuDe.tenchude</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Lượt xem</td><td class="techSpecTD2">@chitiet.luotxem</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Lượt download</td><td class="techSpecTD2">@chitiet.luotdownload</td></tr>
                            <tr class="techSpecRow"><td class="techSpecTD1">Lượt mua</td><td class="techSpecTD2">@chitiet.luotmua</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if(Session["quyen"].ToString() == "admin" || Session["quyen"].ToString() == "admin")
        {
            <a class="btn btn-small pull-right" href="~/QuanLySach/Xacnhanxoasach?masachxoa=@chitiet.madausach">Xóa sách</a>
            <a class="btn btn-small pull-right" href="#">Sửa sách</a>
        }
        
    </div>
</div>