@using LibraryManagement.Models.DTO;

@{
    ViewBag.TitleUser = "Giỏ sách";
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    List<Items> items = (List<Items>)Session["giohang"];

    //kakaka, bi loi cho url roi
    string urlnext = ViewBag.urlgiosach;
}


@section Style
{
    <style type="text/css" id="enject">
        #sachmoi
	{
		height:300px
	}
	#side
	{
		height:200px
	}
	.captionnb
	{
		height:60px
	}
	.captionsm
	{
		height:45px
	}
	
	#bookssort .listsort
	{
		width:100px;
	}
	#pageindex
	{
		font-weight:bold;
		font-size:25px;
		text-align:center
	}
	
	#pageindex a
	{
		font-weight:bold;
		font-size:20px;
	}
	
	#pageindex a:hover
	{
		color:Blue;
		cursor:pointer;
	}
	#login
	{
		width:280px
	}
	#title
	{
		text-align:center;
		color:#FFFFFF
	}

    </style>

}
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active">Giỏ hàng</li>
    </ul>
    <h3>  Giỏ hàng của @Session["hovaten"] có @items.Count() cuốn sách]</h3>
    <hr class="soft" />
    <div style="color:red">
        @ViewBag.tbvuotsl
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã sách</th>
                <th>Hình ảnh</th>
                <th>Tên sách</th>
                <th>Tác giả</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < items.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        <a href="/ChiTietSach/Xem?masach=@items[i].Madausach">
                            <img width="60" src="~/Content/BookImg/@items[i].Bia">
                        </a>
                    </td>
                    <td>
                    <a href="/ChiTietSach/Xem?masach=@items[i].Madausach">@items[i].Tensach</a>
                    </td>
                    <td>@items[i].Tacgia</td>
                    <td>@items[i].Soluong</td>
                    <td>
                    <a href="/GioSach/Xoasachtronggio?masach=@items[i].Madausach">Xóa</a>/
                    <a href="/GioSach/Formthemsltronggio?masach=@items[i].Madausach">Thêm</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/KhoSach/Xem" class="btn btn-large"><i class="icon-arrow-left"></i> Tiếp tục xem sách </a>
    <a href="/MuonSach/Thuchienmuonsach?manguoidung=@Session["manguoidung"]" class="btn btn-large pull-right">Mượn<i class="icon-arrow-right"></i></a>
