@using LibraryManagement.Models

@{ 
    ViewBag.TitleAdmin = "Quản lý Manager";
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
    List<NguoiDung> managers = ViewBag.managers;
    int soluong = ViewBag.slmanager;

} 

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách Người dùng</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tr>
                            <td>Mã ND</td>
                            <td>Tên</td>
                            <td>Ảnh</td>
                            <td>Tên đăng nhập</td>
                            <td>Email</td>
                            <td>Loại ND</td>
                            <td></td>
                            </tr>
                            <tbody>
                                @for (int i = 0; i < soluong; i++)
                                {
                                    <tr>
                                        <td>@managers[i].manguoidung</td>
                                        <td>@managers[i].hovaten</td>
                                        <td><img id="imgtbl" src="~/Content/UserImg/@managers[i].anhdaidien"></td>
                                        <td>@managers[i].tendangnhap</td>
                                        <td>@managers[i].email</td>
                                        <td>@managers[i].LoaiNguoiDung.tenloainguoidung</td>
                                        <th>
                                            <a href="~/QuanLyUser/Xemchitietuser?manguoidung=@managers[i].manguoidung">Xem</a>
                                            <b>/</b>
                                        <a href="~/QuanLyUser/Xacnhanxoanguoidung?maxoauser=@managers[i].manguoidung">Xóa</a>
                                        <b>/</b>
                                        <a href="~/QuanLyUser/Formsuaquyen?manguoidung=@managers[i].manguoidung">Sửa</a></th>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>

                    </div>
                </div>
                @*<div id="pageindex">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4 ...</a>
                    <a href="#">8</a>
                </div>*@
                <div><button type="submit" class="btn btn-info btn-fill pull-right">Thêm người dùng</button></div>
            </div>

        </div>
    </div>
</div>