@using LibraryManagement.Models;

@{
    Layout = "~/Views/Shared/UserMasterPage.cshtml";
    List<DonMuonSach> donmuon = ViewBag.donmuon;
}

@section Style
{
    <style type="text/css" id="enject">
        #sachmoi {
            height: 300px;
        }

        #side {
            height: 200px;
        }

        .captionnb {
            height: 60px;
        }

        .captionsm {
            height: 45px;
        }

        #bookssort .listsort {
            width: 100px;
        }

        #pageindex {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
        }

            #pageindex a {
                font-weight: bold;
                font-size: 20px;
            }

                #pageindex a:hover {
                    color: Blue;
                    cursor: pointer;
                }

        #login {
            width: 280px;
        }

        #title {
            text-align: center;
            color: #FFFFFF;
        }
    </style>

}

<ul class="breadcrumb">
<li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
<li class="active">Đơn mượn sách</li>
    </ul>
<h3>  Đơn mượn sách @Session["hovaten"]</h3>
<hr class="soft" />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã đơn mượn</th>
            <th>Ngày đặt</th>
            <th>Ngày mượn</th>
            <th>Ngày trả</th>
            <th>Trạng thái</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < donmuon.Count; i++)
            {
            <tr>
                <td>@(i + 1)</td>
                <td>@donmuon[i].ngaydat</td>
                <td>@donmuon[i].ngaymuon</td>
                <td>@donmuon[i].ngaytra</td>
                <td>@donmuon[i].TrangThai.tentrangthai</td>
                <td>
                    <a href="/MuonSach/Xemchitietdonmuon?madon=@donmuon[i].madonmuonsach">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
