@using LibraryManagement.Models

@{
    ViewBag.TitleAdmin = "Quản lý người dùng";
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
    List<NguoiDung> nguoidungs = ViewBag.nguoidungs;
    int soluong = ViewBag.soluongnd;
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách Người dùng có @soluong người dùng</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Mã ND</th>
                                <th>Tên</th>
                                <th>Ảnh</th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Loại ND</th>
                                <th></th>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < soluong; i++)
                                {
                                    <tr>
                                        <td>@nguoidungs[i].manguoidung</td>
                                        <td>@nguoidungs[i].hovaten</td>
                                        <td><img id="imgtbl" src="~/Content/UserImg/@nguoidungs[i].anhdaidien"></td>
                                        <td>@nguoidungs[i].tendangnhap</td>
                                        <td>@nguoidungs[i].email</td>
                                        <td>@nguoidungs[i].LoaiNguoiDung.tenloainguoidung</td>
                                        <th>
                                            <a href="~/QuanLyUser/Xacnhanxoanguoidung?maxoauser=@nguoidungs[i].manguoidung">Xóa</a>
                                                <b>/</b>
                                            <a href="~/QuanLyUser/Formsuaquyen?manguoidung=@nguoidungs[i].manguoidung">Sửa</a>
                                        </th>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>
                <div id="pageindex">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4 ...</a>
                    <a href="#">8</a>
                </div>
                <div><button type="submit" class="btn btn-info btn-fill pull-right">Thêm người dùng</button></div>
            </div>

        </div>
    </div>
</div>