@using LibraryManagement.Models
@{
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
    ViewBag.TitleAdmin = "Thêm sách";
    List<TacGia> tgs = ViewBag.tgs;
    List<NhaXuatBan> nxbs = ViewBag.nxbs;
    List<ChuDe> cds = ViewBag.cds;
    DauSach dausach = ViewBag.dausach;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Sửa Sách @dausach.tensach</h4>
                    </div>
                    <div class="content">
                        @if (ViewBag.thongbaoloi != null)
                        {
                            <p style="color:red">@ViewBag.thongbaoloi</p>
                        }
                        <form action="/QuanLySach/Thuchiensuasach?masach=@dausach.madausach" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Tên sách</label>
                                        <input type="text" name="tensach" class="form-control" placeholder="Tên sách" value="@dausach.tensach" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tác giả</label>
                                        <select name="matacgia">
                                            @for (int i = 0; i < tgs.Count; i++)
                                            {
                                                <option @(dausach.matacgia == tgs[i].matacgia ? "selected" : "") value="@tgs[i].matacgia">@tgs[i].tentacgia</option>
                                            }
                                        </select>
                                        @*<input type="text" name="tacgia" class="form-control" placeholder="Tác giả" value="">*@
                                    </div>
                                </div>
                                @*<div class="col-md-4">
                                        <div class="form-group">
                                            <label>Chủ đề</label>
                                            <input type="text" class="form-control" placeholder="Chủ đề" value="">
                                        </div>
                                    </div>*@
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nhà xuất bản</label>
                                        <select name="manhaxuatban">
                                            @for (int i = 0; i < nxbs.Count; i++)
                                            {
                                                <option @(dausach.manhaxuatban == nxbs[i].manhaxuatban ? "selected" : "") value="@nxbs[i].manhaxuatban">@nxbs[i].tennhaxuatban</option>
                                            }
                                        </select>
                                        @*<input name="manhaxuatban" type="text" class="form-control" placeholder="Nhà xuất bản" value="Mike">*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số lượng</label>
                                        <input name="soluong" type="text" class="form-control" placeholder="Số lượng" value="@dausach.soluong" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Ngày đăng</label>
                                            <input name="ngaydang" type="datetime" class="form-control" placeholder="mm/dd/yyyy hh:mm:ss" value="@dausach.ngaydang">
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Giá bán</label>
                                        <input name="giaban" type="text" class="form-control" placeholder="Giá bán" value="@dausach.giaban" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Chủ đề</label>
                                        <select name="machude">
                                            @for (int i = 0; i < cds.Count; i++)
                                            {
                                                <option @(dausach.machude == cds[i].machude ? "selected" : "") value="@cds[i].machude">@cds[i].tenchude</option>
                                            }
                                        </select>
                                        @*<input name="machude" type="text" class="form-control" placeholder="Chủ đề" value="">*@
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mô tả ngắn</label>
                                        <textarea name="tomtat" rows="5" class="form-control" placeholder="Nhập mô tả (Tóm tắt)" required>@dausach.tomtat</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ảnh bìa</label>
                                        <div><img src="~/Content/BookImg/@dausach.bia" width="100" height="100" /></div>
                                        <input name="bia" type="file" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>File sách</label>
                                        <input name="filesach" type="file" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right">Cập nhật</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
