@using LibraryManagement.Models

@{
    ViewBag.TitleAdmin = "Quản lý sách";
    Layout = "~/Views/Shared/ManagerMasterPage.cshtml";
    List<DauSach> sachs = ViewBag.sachs;
    int soluong = ViewBag.soluongsach;
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Danh sách sách Có @soluong cuốn sách</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>Mã sách</th>
                                <th>Tên</th>
                                <th>Bìa</th>
                                <th>Tác giả</th>
                                <th>Ngày đăng</th>
                                <th>Thể loại</th>
                                <th></th>

                            </thead>
                            <tbody>
                                @for (int i = 0; i < soluong; i++)
                                {
                                    <tr>
                                        <td><a href="~/ChiTietSach/Xem?masach=@sachs[i].madausach">@sachs[i].madausach</a></td>
                                        <td>@sachs[i].tensach</td>
                                        <td><img id="imgtbl" src="~/Content/BookImg/@sachs[i].bia"></td>
                                        <td>@sachs[i].TacGia.tentacgia</td>
                                        <td>@sachs[i].ngaydang</td>
                                        <td>@sachs[i].ChuDe.tenchude</td>
                                        <td><a href="~/QuanLySach/Xacnhanxoasach?masachxoa=@sachs[i].madausach">Xóa</a><b>/</b><a href="/QuanLySach/Formsuasach?masach=@sachs[i].madausach">Sửa</a></td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>

                    </div>
                </div>
                @*<div id="pageindex">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4 ...</a>
                    <a href="#">8</a>
                </div>*@
                <div><a href="/QuanLySach/Formthemsach"><button type="submit" class="btn btn-info btn-fill pull-right">Thêm sách</button></a></div>
            </div>

        </div>
    </div>
</div>
